<template>
  <div class="LayoutDefault">
    <header class="header-slot">
      <slot name="header"></slot>
      <title>title</title>
      layout
    </header>
    <nav class="nav-slot">
      <el-menu
          :default-active="activeLink"
          :router="true"
          active-text-color="#ffd04b"
          background-color="#545c64"
          class="el-menu-demo"
          mode="horizontal"
          text-color="#fff"
      >

        <el-menu-item index="/">Home</el-menu-item>
        <el-menu-item index="/ViewStore">Store</el-menu-item>
        <el-menu-item index="/ViewProductInStore/">Product</el-menu-item>
        <el-menu-item index="/Login">Login</el-menu-item>
        <el-menu-item @click="logout">Logout</el-menu-item>
        <div align="right">
          {{ user ? user.name : `Loading...` }}
        </div>
      </el-menu>

    </nav>
    <main class="main-slot">
      <slot name="main"></slot>
    </main>


    <main class="LayoutDefault__main">
      <!--      router view-->
      <slot/>
    </main>
    <footer class="footer-slot">
      <slot name="footer"></slot>
      &copy; Rabiloo Footer
    </footer>
  </div>
</template>

<script>

import axios from "axios";

export default {
  name: 'LayoutDefault',
  data() {
    return {
      user: null,
    };
  },
  props: {
    activeLink: {
      type: String
    },
    router: Boolean
  },
  created() {
    setTimeout(() => {
      this.user = {name: 'Sonmt'};
    }, 1000);
  },
  methods: {
    logout() {
      console.log("Logout");
      axios.post('http://localhost:8080/api/logout', {}, {
        headers: {
          'Authorization': localStorage.accessToken
        }

      }).then(function (response) {
        console.log('response', response);
      }).catch(function (err) {
        console.log('err', err);

      })

    }

  }
}
</script>

<style>

footer {
  position: fixed;
  padding: 10px 10px 0 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
  background: grey;
}

header {
  position: fixed;
  padding: 10px 10px 0 10px;
  top: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
  background: grey;
}

nav {

}
</style>