<template>
  <div style="text-align: right; margin: 0">
    <el-popover
        content="slot"
        placement="right"
        trigger="click"
        width="400"
    >
      <p>Name: <input v-model="storeCreate.name" placeholder="Input Name Store" type="text"></p>
      <p>Is Deleted:
        <input v-model="storeCreate.isDeleted" readonly type="checkbox">
      </p>
      <div style="text-align: right; margin: 0">
        <el-button size="mini" type="primary" @click="createStore">Save</el-button>
        <el-button size="mini" type="text">Cancel</el-button>
      </div>
      <el-button slot="reference" size="mini" type="primary">Create</el-button>
    </el-popover>

    <el-table
        :data="storePage.content"
        highlight-current-row
        style="width: 100%"
        @row-click="callRow"
    >
      <el-table-column type="expand" width="180">
        <template slot-scope="props">
          <p>ID: {{ props.row.idStore }}</p>
          <p>Name: {{ props.row.name }}</p>
          <p>Is Deleted: {{ props.row.isDeleted }}</p>
        </template>
      </el-table-column>

      <el-table-column label="Name" prop="name" style="width: 30%">
      </el-table-column>

      <el-table-column align="right">
        <template slot="header">
          <input v-model="search" placeholder="Type to search" size="mini" type="search"/>
          <el-button size="mini" @click="searchStore">Search</el-button>
        </template>

        <template slot-scope="scope">
          <el-popover
              content="slot"
              placement="right"
              trigger="click"
              width="400"
              @show="showPopover(scope.row)"
              @after-enter="hideAllAnothorPopover(scope.row)"
          >
            <p>ID: <input v-model="data.idStore" :placeholder="[[scope.row.idStore]]" readonly type="text"></p>
            <p>Name: <input v-model="name" :placeholder="[[scope.row.name]]" type="text"></p>
            <p>Is Deleted:
              <input v-model="isDeleted" readonly type="checkbox">
            </p>

            <div style="text-align: right; margin: 0">
              <el-button size="mini" type="primary" @click="handleEdit(scope.row)">Save</el-button>
              <el-button size="mini" type="text" @ckick="cancelEdit()">Cancel</el-button>
            </div>

            <el-button slot="reference" v-model="showPopover" size="mini" @click.stop>Edit</el-button>
          </el-popover>

          <el-popover placement="top" width="160">
            <p>Are you sure to delete this?</p>

            <div style="text-align: right; margin: 0">
              <el-button size="mini" type="text" @click="cancelEdit">cancel</el-button>
              <el-button size="mini" type="primary" @click="handleDelete(scope.$index, scope.row)">confirm</el-button>
            </div>

            <el-button slot="reference" size="mini" type="danger"
                       @click.stop>Delete
            </el-button>
          </el-popover>
        </template>
      </el-table-column>
    </el-table>

    <el-divider></el-divider>

    <div style="text-align: center">
      <el-pagination
          :current-page.sync="page"
          :page-size="size"
          :total="storePage.totalElements"
          background
          layout="prev, pager, next, jumper"
          @prev-click="prevClick"
          @next-click="nextClick"
          @current-change="currentChange"
      >
      </el-pagination>
    </div>
  </div>


</template>


<script>
import axios from 'axios';


export default {
  data() {
    return {
      name,
      data: [],
      page: 0,
      size: 10,
      code: [],
      message: [],
      storePage: {
        content: [],
      },
      search: '',
      isDeleted: false,
      visible: false,
      storeCreate: [],
      storeSearch: []
    }
  },
  watch: {
    name() {
      console.log(this.name)
    },
    isDeleted1() {
      console.log(this.isDeleted())
    },
    search(){
      axios.get('http://localhost:8080/api/v1/list-store-search?name=' + this.search)
          .then((response) => {
            console.log('code', response.data)
            this.code = response.code;
            this.message = response.message;
            this.storePage.content = response.data.dtoList;

          }).catch((err) => {
        console.log('err', err);
      });
      console.log(this.search)
    }
  },
  created() {
    this.getPage(this.page, this.size);
  },
  methods: {
    async getPage(page, size) {
      await axios.get('http://localhost:8080/api/v1/list-store?page=' + page + '&size=' + size)
          .then((response) => {
            console.log('code', response.data)
            this.code = response.data.code;
            this.message = response.data.message;
            this.storePage = response.data.storePage;

          }).catch((err) => {
            console.log('err', err);
          });
      console.log(this.storePage)
    },
    searchStore() {
      axios.get('http://localhost:8080/api/v1/list-store-search?name=' + this.search)
          .then((response) => {
            console.log('code', response.data)
            this.code = response.code;
            this.message = response.message;
            this.storePage.content = response.data.dtoList;

          }).catch((err) => {
        console.log('err', err);
      });
    },
    handleEdit(row) {
      if (this.name == '') {
        alert("Name not entered")
      } else {
        axios.post('http://localhost:8080/api/v1/save', {
          idStore: row.idStore,
          name: this.name,
          isDeleted: this.isDeleted
        })
            .then(function (response) {
              console.log(response);
              alert("Code: " + response.data.code + " Message: " + response.data.message);
              if(response.data.code == '200') {
                window.location.reload();
              }
            }).catch(function (err) {
          console.log(err);
        });
        console.log(row);
      }
    },
    handleDelete(index, row) {
      axios.delete('http://localhost:8080/api/v1/delete', {
        data: {
          idStore: row.idStore,
          name: row.name,
          isDeleted: row.isDeleted
        }
      }).then(function (response) {
        console.log(response);
        alert("Code: " + response.data.code + " Message: " + response.data.message);
        if(response.data.code == '200') {
          window.location.reload();
        }
      }).catch(function (err) {
        console.log(err);
      });
    },
    prevClick() {
    },
    nextClick() {
      this.getPage(this.page, this.size);
    },
    currentChange() {
      this.getPage(this.page - 1, this.size);

    },
    showPopover(data) {
      console.log(data);
      this.name = data.name;
      this.idStore = data.idStore;
      this.isDeleted = data.isDeleted;

    },
    hideAllAnothorPopover(data) {
      console.log(data);
    },
    cancelEdit() {

    },
    callRow(row) {
      this.$emit('showProductInStore', row);

    },
    createStore() {
      axios.post('http://localhost:8080/api/v1/save', {
        name: this.storeCreate.name,
        isDeleted: this.storeCreate.isDeleted
      })
          .then(function (response) {
            alert("Code: " + response.data.code + " Message: " + response.data.message);
            console.log(response);
            if(response.data.code == '200') {
              window.location.reload();
            }
          }).catch(function (err) {
        console.log(err);
      });
    }

  },

}
</script>

<style>
@import url("//unpkg.com/element-ui@2.15.12/lib/theme-chalk/index.css");
</style>