

<template>
    <div v-if="true">
        <el-table :data="storePage.content.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
            style="width: 100%">
            <el-table-column width="180" type="expand">
                <template slot-scope="props">
                    <p>ID: {{ props.row.idStore }}</p>
                    <p>Name: {{ props.row.name }}</p>
                    <p>Is Deleted: {{ props.row.isDeleted }}</p>
                </template>
            </el-table-column>
            <el-table-column label="Name" prop="name" width="180" />
            <el-table-column align="right">
                <template slot="header">
                    <el-input v-model="search" size="mini" placeholder="Type to search" />
                </template>
                <template slot-scope="scope">
                    <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                    <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">Delete
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-divider></el-divider>

        <div style="text-align: center">
            <el-pagination background layout="prev, pager, next" >
            </el-pagination>
        </div> 
    </div>


</template>


<script>
import axios from 'axios';



export default {
    data() {
        return {
            code: [],
            message: [],
            storePage: [],
            listStore: [],
            search: ''
        }
    },
    created() {
        axios.get('http://localhost:8080/api/v1/list-store')
            .then((response) => {
                this.message = response.data.code,
                this.storePage = response.data.storePage
                console.log('code', this.code)
            }).catch((err) => {
                console.log('err', err)
            });
    },
    methods: {
        handleEdit(index, row) {
            console.log(index, row);
        },
        handleDelete(index, row) {
            console.log(index, row);
        }
    }

}
</script>

<style>
@import url("//unpkg.com/element-ui@2.15.12/lib/theme-chalk/index.css");
</style>