<template>
  <el-form ref="ruleForm" :model="ruleForm" :rules="rules" class="demo-ruleForm" label-width="120px" status-icon>
    <el-form-item label="Username" prop="username">
      <el-input v-model="ruleForm.username" autocomplete="off" type="text"></el-input>
    </el-form-item>
    <el-form-item label="Password" prop="password">
      <el-input v-model="ruleForm.password" autocomplete="off" type="password"></el-input>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="submitForm('ruleForm')">Submit</el-button>
      <el-button @click="resetForm('ruleForm')">Reset</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import axios from "axios";

const urlLogin = 'http://localhost:8080/api/login';

export default {
  data() {
    var validatePassword = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please input the password'));
      } else {
        callback();
      }
    };
    var validateUsername = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please input the username'));
      } else {
        callback();
      }
    };
    return {
      ruleForm: {
        password: '',
        username: ''
      },
      rules: {
        password: [
          {validator: validatePassword, trigger: 'blur'}
        ],
        username: [
          {validator: validateUsername, trigger: 'blur'}
        ]
      },
      loading: false
    };
  },
  methods: {
    async getLogin() {
      this.loading = true
      await axios.post(urlLogin, this.ruleForm)
          .then(function (response) {
            console.log(response);
            localStorage.accessToken = response.data.tokenType + response.data.accessToken;
          }).catch(function (err) {
            console.log(err);
          })
    },
    submitForm(formName) {

      this.$refs[formName].validate((valid) => {
        if (valid) {
          console.log(this.ruleForm.username, this.ruleForm.password);
          this.getLogin();
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    }
  }
}
</script>