<template>
  <div>
    <button @click="backStore">Back</button>
    <div v-if="showError">
      <p>Code: {{ this.code }}</p>
      <p>Message: {{ this.message }}</p>
    </div>
    <div v-else>
      <h3>ID Store: {{ data.store.idStore }} - Name: {{ data.store.name }} - Is Deleted: {{ data.store.isDeleted }}</h3>
      <el-table
          :data="data.productPage.content"
          style="width: 100%">
        <el-table-column label="Id Product" prop="idProduct" style="width: 30%" ></el-table-column>
        <el-table-column label="Name" prop="name" style="width: 30%"></el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      code: "",
      message: "",
      data: {
        productPage: {
          content: []
        }
      },
      page: 0,
      size: 10,
      showError: false
    }
  },
  props: {
    store: {
      type: Object,
      require: true
    }
  },
  created() {
    this.getPage(this.store.idStore, this.page, this.size);
  },
  methods: {
    async getPage(idStore, page, size) {
      await axios.get('http://localhost:8080/api/v1/web02' + idStore + '/product?page=' + page + '&size=' + size)
          .then((response) => {
            this.code = response.data.code;
            this.message = response.data.message;
            this.data = response.data;
            if (response.data.code == 200) {
              console.log('data', response);
              console.log('data', this.data);
            } else {
              this.showError = true;
              console.log(this.showError);
            }
          }).catch((err) => {
            console.log('err', err)
          });
    },
    backStore() {
      // console.log(this.store.idStore)
      this.$emit('showStore');
    }

  }
}
</script>

<style>
@import url("//unpkg.com/element-ui@2.15.12/lib/theme-chalk/index.css");
</style>