<template>
  <div id="app">
    <!--    <ViewStore @showProductInStore="showProductInStore" v-if="!showProduct" :store="store"></ViewStore>-->
    <!--    <ViewProductInStore v-else @showStore="showStore" :store="store" :is-call="true"></ViewProductInStore>-->
    <layout-default :activeLink="activeLink">
      <template v-slot:header>Header App</template>

      <router-view/>
      <template v-slot:footer></template>
    </layout-default>
  </div>
</template>

<script>

import LayoutDefault from "@/layouts/LayoutDefault";

export default {
  name: 'App',
  components: {
    LayoutDefault,
    // ViewProductInStore,
    // ViewStore
  },
  data() {
    return {
      showProduct: false,
      idStore: '',
      store: {
        id: '',
        code: '',
        name: '',
        address: ''
      },
      activeLink: null,
    }
  },
  watch: {
    $route(to){
      this.activeLink = to.path.includes('/ViewProductInStore/') ? '/ViewProductInStore/' : this.$route.path;
      console.log('this.activeLink',this.activeLink);
    }
  },
  methods: {
    showProductInStore(row) {

      this.showProduct = true;
      this.store.id = row.id;
      this.store.code = row.code;
      this.store.name = row.name;
      this.store.address = row.address;
    },
    showStore(store) {
      this.showProduct = false;
      this.store = store;
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
