<template id="page-not-found">
  <div class="error">
    <div class="error-code m-b-10 m-t-20">404 <i class="fa fa-warning"></i></div>
    <h3 class="font-bold" style="font-family: MS PGothich">Không tìm thấy trang.</h3>

    <div class="error-desc">
      Chúng tôi xin lỗi vì sự bất tiện này, nhưng có thể trang bạn đang cố truy cập không tìm thấy hoặc không tồn tại.
      <br/>
      Làm mới trang hoặc nhấp vào nút bên dưới để trở về trang chủ。
      <div>
        <a class=" login-detail-panel-button btn" href="/">
          <i class="fa fa-arrow-left"></i>
          Trở về trang chủ.
        </a>
      </div>
    </div>
  </div>
</template>
<style>
.error {
  margin: 0 auto;
  text-align: center;
}

.error-code {
  bottom: 60%;
  color: #2d353c;
  font-size: 96px;
  line-height: 100px;
}

.error-desc {
  font-size: 12px;
  color: #647788;
}

.m-b-10 {
  margin-bottom: 10px!important;
}

.m-b-20 {
  margin-bottom: 20px!important;
}

.m-t-20 {
  margin-top: 20px!important;
}

</style>
<!--<script>-->
<!--export default {-->
<!--  name: 'PageNotFound',-->
<!--  template:"",-->
<!--  created: function() {-->
<!--    // Redirect outside the app using plain old javascript-->
<!--    window.location.href = "404.html";-->
<!--  }-->
<!--}-->
<!--</script>-->