<template>
  <div class="HomePage">
    <h1>Top Software Development Company</h1>
    <p>
      Rabiloo is a leading software development company in Vietnam.
      We specialize in the business of providing high-quality custom software development service to our
      clients globally such as Japanese, American, French, Singapore,...
    </p>
    <h2>Software outsourcing service</h2>
    <p>
      Are you dreaming up an idea for a technology-based solution and seeking a partner to collaborate with?
      Please send your requirements to Rabiloo; we will actualize your ideas by a platform or software with the
      interface and features as you require.
    </p>
    <ul>
      <li>Enterprise software development</li>
      <li>Mobile application development</li>
      <li>Website development</li>
      <li>Game development</li>
    </ul>
  </div>
</template>

<script>
// import LayoutDefault from "@/layouts/LayoutDefault";

export default {
  name: 'HomePage',
  created() {
    // this.$emit('update:layout', LayoutDefault);
  },
};
</script>