<template>
  <div>
    <div style="text-align: left; margin: 0">
      <button @click="backStore()">Back</button>
    </div>
    <div style="text-align: right; margin: 0">
      <el-popover
          placement="right"
          width="400">
        <p>Name: <input v-model="productCreate.name" placeholder="Input name product" type="text"></p>
        <p>Detail:
          <input v-model="productCreate.detail" placeholder="Input detail product" type="text">
        </p>
        <div style="text-align: right; margin: 0">
          <el-button size="mini" type="primary" @click="createProduct">Save</el-button>
          <el-button size="mini" type="text" @click="createCancel">Cancel</el-button>
        </div>
        <template>
          <el-button slot="reference" size="mini" type="primary">Create</el-button>
        </template>
      </el-popover>
    </div>
    <div v-if="showError">
      <p>Code: {{ this.code }}</p>
      <p>Message: {{ this.message }}</p>
    </div>
    <div v-else>
      <h3>ID Store: {{ store.id }} - Code: {{ store.code }} - Name: {{ store.name }} - Address: {{
          store.address
        }}</h3>
      <el-table
          :data="data.data.content"
          highlight-current-row
          style="width: 100%"
          @row-click="callRow"
          @sort-change="sortPage"
      >
        <el-table-column label="Id Product" prop="id" sortable="custom" style="width: 30%"></el-table-column>
        <el-table-column label="Code" prop="code" sortable="custom" style="width: 30%"></el-table-column>
        <el-table-column label="Name" prop="name" sortable="custom" style="width: 30%"></el-table-column>
        <el-table-column label="Detail" prop="detail" sortable="custom" style="width: 30%"></el-table-column>
        <el-table-column align="right">
          <template slot-scope="scope">
            <el-popover
                content="slot"
                placement="right"
                width="400"
                @show="showPopover(scope.row)"
                @after-enter="hideAllAnothorPopover(scope.row)"
            >
              <p>ID: <input v-model="data.data.content.id" :placeholder="[[scope.row.id]]" readonly type="text"></p>
              <p>Code: <input v-model="data.data.content.code" :placeholder="[[scope.row.code]]" readonly type="text">
              </p>
              <p>Name: <input v-model="dataEdit.name" :placeholder="[[scope.row.name]]" type="text"></p>
              <p>Detail: <input v-model="dataEdit.detail" :placeholder="[[scope.row.detail]]" type="text"></p>

              <div style="text-align: right; margin: 0">
                <el-button size="mini" type="primary" @click="handleEdit(scope.row)">Save</el-button>
                <el-button size="mini" type="text" @ckick="cancelEdit(scope.index,scope.row)">Cancel</el-button>
              </div>
              <el-button slot="reference" size="mini" @click.stop>Edit</el-button>
            </el-popover>

            <el-popover placement="top" width="160">
              <p>Are you sure to delete this?</p>

              <div style="text-align: right; margin: 0">
                <el-button size="mini" type="text" @click="cancelEdit">cancel</el-button>
                <el-button size="mini" type="primary" @click="handleDelete(scope.$index, scope.row)">confirm</el-button>
              </div>

              <el-button slot="reference" size="mini" type="danger"
                         @click.stop>Delete
              </el-button>
            </el-popover>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div style="text-align: center">
      <el-pagination
          :current-page.sync="page"
          :page-size="size"
          :total="data.data.totalElements"
          background
          layout="prev, pager, next, jumper"
          @prev-click="prevClick"
          @next-click="nextClick"
          @current-change="currentChange"
      >
      </el-pagination>
    </div>
  </div>
</template>

<script>
import axios from "axios";
// axios.defaults.headers.common['Authorization'] = `Bearer ${this.#app.accessToken}`


// const urlConfigProduct = 'http://localhost:8080/api/v1/web';
// +/this.store.code? -> not working?
class Axios {
  constructor(baseUrl, bearerToken) {

    return axios.create({
      baseURL: baseUrl,
      headers: {
        Authorization: `Bearer ${bearerToken}`
      }
    });
  }

  get(baseUrl, bearerToken) {
    return axios.get(baseUrl,
        {
          headers: {
            Authorization: `Bearer ${bearerToken}`
          }
        })
  }

  post(baseUrl, data, bearerToken) {
    return axios.post(baseUrl,
        data,
        {
          headers: {
            Authorization: `Bearer ${bearerToken}`
          }
        })
  }
}


export default {
  data() {
    return {
      loading: true,
      urlConfigProduct: '',
      code: '',
      message: '',
      data: {
        data: {
          content: [{
            id: '',
            code: '',
            name: '',
            detail: ''
          }],
          totalElements: 0,
        }
      },
      dataEdit: {
        name: '',
        detail: ''
      },
      productCreate: {
        name: '',
        detail: ''
      },
      page: 0,
      size: 10,
      sortDir: 'DESC',
      sortField: 'id',
      showError: false,
      store: {
        id: '',
        code: '',
        name: '',
        address: ''
      },
      accessToken: ''
    }
  },
  // component father to child
  // props: {
  //   store: {
  //     type: Object,
  //     require: true
  //   }
  // },
  created() {
    Axios.constructor()
    try {
      if (this.$route.params.accessToken === undefined && localStorage.accessToken === undefined) {
        this.showError = true;
        this.code = '405';
        this.message = 'You are not logged in!'

      } else if (this.$route.params.accessToken === undefined) {
        console.log("route");
        this.accessToken = localStorage.accessToken;
      } else {
        console.log("local")
        this.accessToken = this.$route.params.accessToken;
      }
      if (this.$route.params.store === undefined && localStorage.store === undefined) {
        this.showError = true;
        this.code = '404';
        this.message = 'Can not found store';
        console.log('this.showError', this.showError);
      } else if (this.$route.params.store === undefined) {
        console.log('localStorage.store', localStorage.store);
        this.store = JSON.parse(localStorage.store);
      } else {
        console.log('storeCode', this.$route.params.store);
        this.store = this.$route.params.store;
      }
    } catch (err) {
      console.log('err', err);
    }
    console.log('localStorage.store', localStorage.store);
    console.log('this.store', this.store);
    this.urlConfigProduct = "http://localhost:8080/api/v1/web2/" + this.store.code + "/product";
    console.log('this.urlConfigProduct', this.urlConfigProduct);
    if (this.showError === false) {
      this.getPage(this.page, this.size, this.sortDir, this.sortField);
    }
  },
  methods: {
    async getPage(page, size, sortDif, sortField) {
      this.loading = true;
      await axios.get(this.urlConfigProduct + '/list?page=' + page + '&size=' + size + '&sortDir=' + sortDif + '&sortField=' + sortField,
          {
            headers: {
              'Authorization': this.accessToken
            }
          })
          .then((response) => {
            this.data = response;
            if (response.status === 200) {
              console.log('response', response);
              console.log('data', this.data);
            } else {
              this.showError = true;
              console.log(this.showError);
            }
            this.loading = false;
          }).catch((err) => {
            this.showError = true;
            console.log(this.showError);
            this.code = err.status;
            this.message = err;
            console.log('err', err);
          });
    },
    backStore() {
      // console.log(this.store.idStore)
      // this.$emit('showStore', this.store);
      this.$router.push({name: 'store'});
    },
    createProduct() {
      const vm = this;
      console.log("store: ", this.store)
      axios.post(this.urlConfigProduct + '/save', this.productCreate,
          {
            headers: {
              'Authorization': this.accessToken
            }
          })
          .then(function (response) {
            console.log(response);
            console.log(response.data.status.code);
            if (response.data.status.code === 1000) {
              vm.createCancel();
              vm.updateTableProduct();
            }
            alert("Code: " + response.data.status.code + " - Message: " + response.data.status.message);
          }).catch(function (err) {
        console.log(err);
      });
    },
    createCancel() {
      this.productCreate.name = '';
      this.productCreate.detail = '';
    },
    updateTableProduct() {
      this.getPage(this.page - 1, this.size, this.sortDir, this.sortField);
    },
    handleEdit(row) {
      if (this.dataEdit.name === '' && this.dataEdit.detail === '') {
        alert("Name or address not entered");
        this.dataEdit.name = row.name;
        this.dataEdit.detail = row.detail;
      } else {
        const vm = this;
        axios.post(this.urlConfigProduct + '/save', {
          id: row.id,
          code: row.code,
          name: this.dataEdit.name,
          detail: this.dataEdit.detail
        }, {
          headers: {
            'Authorization': this.accessToken
          }
        }).then(function (response) {
          console.log(response);
          alert("Code: " + response.data.status.code + " Message: " + response.data.status.message);
          if (response.data.status.code === 1000) {
            vm.updateTableProduct();
          }
        }).catch(function (err) {
          console.log(err);
        });
      }
    },
    cancelEdit(index, row) {
      console.log(index, row)
    },
    handleDelete(index, row) {
      const vm = this;
      axios.delete(this.urlConfigProduct + '/delete/' + row.id, {
        headers: {
          'Authorization': this.accessToken
        }
      }).then(function (response) {
        console.log(response);
        alert("Code: " + response.data.status.code + " Message: " + response.data.status.message);
        if (response.data.status.code === 1000) {
          vm.updateTableProduct();
        }
      }).catch(function (err) {
        console.log(err);
      });
    },
    showPopover(row) {
      this.dataEdit.name = row.name;
      this.dataEdit.detail = row.detail;
    },
    hideAllAnothorPopover() {

    },
    callRow() {
      // to do while call row product in table
    },
    prevClick() {

    },
    nextClick() {
      this.getPage(this.page, this.size, this.sortDir, this.sortField);
    },
    currentChange() {
      this.getPage(this.page - 1, this.size, this.sortDir, this.sortField);
    },
    sortPage(row) {
      this.getPage(this.page - 1, this.size, row.order, row.prop);
      console.log('row', row);
    },


  }
}


</script>

<style>
@import url("//unpkg.com/element-ui@2.15.12/lib/theme-chalk/index.css");
</style>