<template>
  <div v-loading="loading" style="text-align: right; margin: 0">
    <el-autocomplete
        v-model="search"
        :fetch-suggestions="querySearch"
        placeholder="Please input"
        @select="handleSelectSearch"
    >
      <!--    <template>-->
      <!--      <span @click="clearSearch"></span>-->
      <!--      <el-button>x</el-button>-->
      <!--    </template>-->

    </el-autocomplete>
    |
    <!--    <el-popover placement="right" width="400">-->
    <!--      <p>Name: <input v-model="storeCreate.name" placeholder="Input name store" type="text"></p>-->
    <!--      <p>Address:-->
    <!--        <input v-model="storeCreate.address" placeholder="Input address store" type="text">-->
    <!--      </p>-->
    <!--      <div style="text-align: right; margin: 0">-->
    <!--        <el-button size="mini" type="primary" @click="createStore">Save</el-button>-->
    <!--        <el-button size="mini" type="text" @click="createCancel">Cancel</el-button>-->
    <!--      </div>-->
    <!--      <template>-->
    <!--        <el-button slot="reference" size="mini" type="primary">Create</el-button>-->
    <!--      </template>-->
    <!--    </el-popover>-->

    <!--    Form Create-->
    <el-button type="text" @click="dialogFormVisible = true">Create Store</el-button>
    <el-dialog :visible.sync="dialogFormVisible" title="Create">
      <el-form :model="dataEdit">
        <el-form-item :label-width="formLabelWidth" label="Name">
          <el-input v-model="storeCreate.name" placeholder="Input name store" type="text"></el-input>
        </el-form-item>
        <el-form-item :label-width="formLabelWidth" label="Address">
          <el-input v-model="storeCreate.address" placeholder="Input address store" type="text"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="el-dialog__footer">
        <el-button type="primary" @click="createStore">Save</el-button>
        <el-button type="text" @click="dialogFormVisible = false">Cancel</el-button>
      </span>
    </el-dialog>

    <el-table
        :data="data.data.content"
        highlight-current-row
        style="width: 100%"
        @row-click="callRow"
        @sort-change="sortPage"
    >
      <!--        :default-sort="{prop: 'id', order:'descending'},{prop: 'code', order:'descending'},{prop: 'name', order:'descending'}"-->

      <el-table-column type="expand" width="180">
        <template slot-scope="props">
          <p>ID: {{ props.row.id }}</p>

          <p>Code: {{ props.row.code }}</p>

          <p>Name: {{ props.row.name }}</p>

          <p>Address: {{ props.row.address }}</p>
        </template>
      </el-table-column>

      <el-table-column label="ID" prop="id" sortable="custom" style="width: 30%">
      </el-table-column>
      <el-table-column label="Code" prop="code" sortable="custom" style="width: 30%">
      </el-table-column>
      <el-table-column label="Name" prop="name" sortable="custom" style="width: 30%">
      </el-table-column>
      <el-table-column label="Address" prop="address" sortable="custom" style="width: 30%">
      </el-table-column>

      <el-table-column align="right">
        <!--        <template slot="header">-->
        <!--          <input v-model="search" placeholder="Type to search" size="mini" type="search"/>-->
        <!--          <el-button size="mini" @click="searchStore">Search</el-button>-->
        <!--        </template>-->

        <template slot-scope="scope">
          <el-button slot="reference" size="mini" type="info" @click.stop="getProductInStore(scope.row)">
            Product
          </el-button>
          <el-popover content="slot" placement="right" width="400" @show="showPopover(scope.row)"
                      @after-enter="hideAllAnothorPopover(scope.row)">
            <p>ID: <input v-model="data.data.content.id" :placeholder="[[scope.row.id]]" readonly type="text"></p>
            <p>Code: <input v-model="data.data.content.code" :placeholder="[[scope.row.code]]" readonly type="text"></p>
            <p>Name: <input v-model="dataEdit.name" :placeholder="[[scope.row.name]]" type="text"></p>
            <p>Detail: <input v-model="dataEdit.address" :placeholder="[[scope.row.address]]" type="text"></p>
            <div style="text-align: right; margin: 0">
              <el-button size="mini" type="primary" @click="handleEdit(scope.row)">Save</el-button>
              <el-button size="mini" type="text" @ckick="cancelEdit(scope.index,scope.row)">Cancel</el-button>
            </div>
            <el-button slot="reference" size="mini" @click.stop>Edit</el-button>
          </el-popover>
          <el-popover placement="top" width="160">
            <p>Are you sure to delete this?</p>
            <div style="text-align: right; margin: 0">
              <el-button size="mini" type="text" @click="cancelEdit">cancel</el-button>
              <el-button size="mini" type="primary" @click="handleDelete(scope.$index, scope.row)">confirm</el-button>
            </div>
            <el-button slot="reference" size="mini" type="danger" @click.stop>Delete
            </el-button>
          </el-popover>
        </template>
      </el-table-column>
    </el-table>
    <el-divider></el-divider>
    <div style="text-align: center">
      <el-pagination
          :current-page.sync="data.data.number"
          :page-size="data.data.size"
          :total="data.data.totalElements"
          background
          layout="prev, pager, next, jumper"
          @current-change="currentChange"
      >
      </el-pagination>
    </div>
  </div>
</template>
<script>
import axios from 'axios';

const urlConfig = 'http://localhost:8080/api/v1/web2/store';



export default {
  data() {
    return {
      loading: true,
      storeCreate: {
        name: '',
        address: ''
      },
      dataEdit: {
        name: '',
        address: '',
      },
      data: {
        data: {
          content: [],
          size: 10,
          number: 0,
          totalElements: 0,
          status: ''
        }
      },
      page: 0,
      sortDir: 'DESC',
      sortField: 'id',
      search: '',
      storeSearch: {
        value: '',
        // store: {
        //   id: '',
        //   code: '',
        //   name: '',
        //   address: ''
        // }
        name: ''
      },
      formLabelWidth: '120px',
      dialogFormVisible: false,
      showError: false,
      code: '',
      message: '',
      urlConfigStore: '',
      accessToken: ''
    }
  },
  // props: {
  //     //to do back store
  //     store: {
  //         type: Object,
  //         require: true
  //     }
  // },
  watch: {
    name() {
      console.log(this.name)
    },

    // search() {
    //   axios.get(urlConfig+'/search?name=' + this.search)
    //       .then((response) => {
    //         console.log('code', response.data)
    //         this.data = response.data;
    //
    //       }).catch((err) => {
    //     console.log('err', err);
    //   });
    //   console.log(this.search)
    // }
  },
  created() {
    try {
      console.log('localStorage.accessToken', localStorage.accessToken);

      if (this.$route.params.accessToken === undefined && localStorage.accessToken === undefined) {
        this.showError = true;
        this.code = '405';
        this.message = 'You are not logged in!'

      } else if (this.$route.params.accessToken === undefined) {
        console.log("route");
        this.accessToken = localStorage.accessToken;
      } else {
        console.log("local")
        this.accessToken = this.$route.params.accessToken;
      }
    } catch (err) {
      console.log('err', err);
    }
    console.log('this.accessToken', this.accessToken);
    if (this.showError === false) {
      this.getPage(this.data.data.number, this.data.data.size, this.sortDir, this.sortField);
    }
  },

  methods: {
    async getPage(page, size, sortDir, sortField) {
      this.loading = true;
      console.log('v-loading="loading"', this.loading);
      this.token = "Bearer " + this.token;
      await axios.post(urlConfig + '/list?page=' + page + '&size=' + size + '&sortDir=' + sortDir + '&sortField=' + sortField,
          {},
          {
            headers: {
              'Authorization': this.accessToken
            }
          })
          .then((response) => {
            response.data.number += 1;
            console.log(response.data)
            this.data = response;
            this.loading = false;
          }).catch((err) => {
            console.log('err', err);
          });
    },
    // searchStore() {
    //   axios.get('http://localhost:8080/api/v1/list-store-search?name=' + this.search)
    //       .then((response) => {
    //         console.log('code', response.data)
    //         this.code = response.code;
    //         this.message = response.message;
    //         this.storePage.content = response.data.dtoList;
    //
    //       }).catch((err) => {
    //     console.log('err', err);
    //   });
    // },
    handleEdit(row) {
      if (this.dataEdit.name === '' && this.dataEdit.address === '') {
        alert("Name or address not entered");
        this.dataEdit.name = row.name;
        this.dataEdit.address = row.address;
      } else {
        const vm = this;
        axios.post(urlConfig + '/save', {
          id: row.id,
          code: row.code,
          name: this.dataEdit.name,
          address: this.dataEdit.address
        }, {
          headers: {
            'Authorization': this.accessToken
          }
        }).then(function (response) {
          console.log(response);
          alert("Code: " + response.data.status.code + " Message: " + response.data.status.message);
          if (response.data.status.code === 1000) {
            vm.updateTableStore();
          }
        }).catch(function (err) {
          console.log(err);
        });
      }
    },
    handleDelete(index, row) {
      const vm = this;
      axios.delete(urlConfig + '/delete/' + row.id).then(function (response) {
        console.log(response);
        alert("Code: " + response.data.status.code + " Message: " + response.data.status.message);
        if (response.data.status.code === 1000) {
          vm.updateTableStore();
        }
      }).catch(function (err) {
        console.log(err);
      });
    },
    currentChange() {
      console.log('this.data.data.number', this.data.data.number);
      this.getPage(this.data.data.number - 1, this.data.data.size, this.sortDir, this.sortField);
    },
    showPopover(row) {
      console.log(row);
      this.dataEdit.name = row.name;
      this.dataEdit.address = row.address;
    },
    hideAllAnothorPopover(data) {
      console.log(data);
    },
    cancelEdit(index, row) {
      console.log(index, row);
    },
    callRow(index, row) {
      console.log('row', row);
      index.type = 'expand';

    },
    getProductInStore(row) {
      localStorage.store = JSON.stringify(row);
      console.log('localStorage.store.code', localStorage.store.code);
      this.$router.push({
        name: 'product',
        params: {store: row}
      });
      // this.$emit('showProductInStore', row);
    },
    createCancel() {
      this.storeCreate.name = '';
      this.storeCreate.address = '';
    },
    createStore() {
      const vm = this;
      axios.post(urlConfig + '/save', this.storeCreate, {
        headers: {
          'Authorization': this.accessToken
        }
      })
          .then(function (response) {
            console.log(response);
            console.log(response.data.status.code);
            if (response.data.status.code === 1000) {
              vm.createCancel();
              vm.updateTableStore();
            }
            alert("Code: " + response.data.status.code + " - Message: " + response.data.status.message);
          }).catch(function (err) {
        console.log(err);
      });
    },
    sort(sortField) {
      console.log(sortField);
    },
    updateTableStore() {
      console.log("this.page: ", this.data.data.number);
      this.getPage(this.data.data.number - 1, this.data.data.size, this.sortDir, this.sortField);
    },
    querySearch(queryString, cb) {
      console.log('queryString', queryString);
      if (queryString === '') {
        this.getPage(this.data.data.number - 1, this.data.data.size, this.sortDir, this.sortField);
      }
      this.loading = true;
      const vm = this;
      axios.get(urlConfig + '/search?value=' + queryString)
          .then(function (response) {
            let search = [...arguments];
            response.data.content.forEach(store => {
              let value = store.id + '-' + store.code + '-' + store.name + '-' + store.address;
              let s = {value: value, store: store};
              search.push(s);
            })
            cb(search);
            vm.loading = false;
          }).catch(function (err) {
        console.log(err)
      })
    },
    handleSelectSearch(item) {
      console.log(item.store);
      this.data.data.content = [item.store];
      this.data.data.totalElements = 1;
      this.search = item.store.name;
    },
    sortPage(row) {
      this.getPage(this.data.data.number - 1, this.data.data.size, row.order, row.prop);
    },
    clearSearch() {
      this.search = '';
      this.getPage(this.data.data.number - 1, this.data.data.size, this.sortDir, this.sortField);
    },
  },


}


</script>

<style>
@import url("//unpkg.com/element-ui@2.15.12/lib/theme-chalk/index.css");
</style>