<template>
  <div id="app">
    <ViewStoreVue>123</ViewStoreVue>
  </div>
</template>

<script>
import Vue from 'vue';
import ViewStoreVue from './components/ViewStore.vue';
import Element from 'element-ui'

Vue.use(Element)
export default {
  name: 'App',
  components: {
    ViewStoreVue
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
