<template>
  <div id="app">
    <ViewStore @showProductInStore="showProductInStore" v-if="!showProduct"></ViewStore>
    <ViewProductInStore v-else @showStore="showStore" :store="store" :is-call="true"></ViewProductInStore>
  </div>
</template>

<script>
import Vue from 'vue';
import Element from 'element-ui'
import ViewProductInStore from './components/product_in_store/ViewProductInStore'
import ViewStore from "@/components/store/ViewStore";

Vue.use(Element)
export default {
  name: 'App',
  components: {
    ViewProductInStore,
    ViewStore
  },
  data() {
    return{
      showProduct: false,
      idStore: '',
      store: {
        idStore: '',
        name: '',
        isDeleted: ''
      }
    }
  },

  methods: {
    showProductInStore(row) {

      this.showProduct = true;
      this.store.idStore = row.idStore;
      this.store.name = row.name;
      this.store.isDeleted = row.isDeleted;
    },
    showStore(){
      this.showProduct = false;
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
